<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_model)/urdf/my_robot_with_rplidar_2.xacro'" />     

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="10.0" />
    </node>

    <node name="joy_node0" pkg="joy" type="joy_node">
    	<param name="dev" value="/dev/input/js0"/>
  	</node>    

    <node name="joy_trans" pkg="joy_node" type="joy_node_pub" />    

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model deeptuuk -param robot_description"/>

</launch>